{% extends "templates/header.html" %}

{% block scripts %}

<div class="container jumbotron">
  <div class="col-lg-4 chartsDiv" id="center"></div>
    <script type="text/javascript">

      var COLORS = ["#00b0b7", "#c43a45", "#39ac72", "#fce042", "#ffa500", "#b956a6", "#77d53a"];

      d3.selectAll('text').on('mouseenter', function() {
        this.parentElement.appendChild(this);
      });

      var width = 300,
          height = 300,
          radius = Math.min(width, height) / 2;

      var color1 = d3.scale.ordinal().range(COLORS);
      var arc = d3.svg.arc()
          .outerRadius(radius - 10)
          .innerRadius(0);

      var values1 = {% raw acad %};


      var pie1 = d3.layout.pie(values1)
          .sort(null)
          .value(function(row){return row.count})


      var svg1 = d3.select("#center").append("svg")
          .attr("width", width)
          .attr("height", height)
        .append("g")
          .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


        var g1 = svg1.selectAll(".arc")
            .data(pie1(values1))
          .enter().append("g")
            .attr("class", "arc");

        g1.append("path")
            .attr("d", arc)
            .style("fill", function(d) { return color1(d.data.name); });

        g1.append("text")
            .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
            .attr("dy", ".35em")
            .style("text-anchor", "middle")
            .style("font-size", "10px")
            .text(function(d) { return d.data.name; });
      
        var values2 = {% raw uni %};

        var color2 = d3.scale.ordinal().range(COLORS);
        var pie2 = d3.layout.pie(values2)
            .sort(null)
            .value(function(row){return row.count})


        var svg2 = d3.select("#center").append("svg")
            .attr("width", width)
            .attr("height", height)
          .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


          var g2 = svg2.selectAll(".arc")
              .data(pie2(values2))
            .enter().append("g")
              .attr("class", "arc");

          g2.append("path")
              .attr("d", arc)
              .style("fill", function(d) { return color2(d.data.name); });

          g2.append("text")
              .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
              .attr("dy", ".35em")
              .style("text-anchor", "middle")
              .style("font-size", "10px")
              .text(function(d) { return d.data.name; });

        var values3 = {% raw sta %};

        var color3 = d3.scale.ordinal().range(COLORS);
        var pie3 = d3.layout.pie(values3)
            .sort(null)
            .value(function(row){return row.count})


        var svg3 = d3.select("#center").append("svg")
            .attr("width", width)
            .attr("height", height)
          .append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


          var g3 = svg3.selectAll(".arc")
              .data(pie3(values3))
            .enter().append("g")
              .attr("class", "arc");

          g3.append("path")
              .attr("d", arc)
              .style("fill", function(d) { return color3(d.data.name); });

          g3.append("text")
              .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
              .attr("dy", ".35em")
              .style("text-anchor", "middle")
              .style("font-size", "10px")
              .text(function(d) { return d.data.name; });

        </script>
{% end %}
