<!DOCTYPE html>
<html lang="en">
   <head>
      <title>DataHack</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="static/css/fields.css">
   </head>
   <body>
     <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">DataHack Prep Night</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/academy">Students statistics</a></li>
            <li><a href="/groups">Groups status</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block body %}
    {% end %}

      <!-- Latest compiled and minified JavaScript -->
      <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
      {% block scripts %}
      {% end %}
   </body>
 </html>
