{% extends "templates/header.html" %}

{% block scripts %}

<div class="container ">
  <div class="col-lg-4" id="center"></div>

<script>

var groups = {% raw groups %};
var data = [];
for (var group_size in groups) {
    var count = groups[group_size];
    data.push({
        "State": group_size,
        "total": count[0],
        "ages": [
            {
                "name": "No Idea",
                "y0": 0,
                "y1": count[0] - count[1],
            },
            {
                "name": "Has Idea",
                "y0": 0,
                "y1": count[1],
            },
        ],
    });
}

var margin = {top: 50, right: 20, bottom: 60, left: 60},
    width = 1000 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

var y = d3.scale.linear()
    .rangeRound([height, 0]);

var color = d3.scale.ordinal().range(["#00ADB4", "#C43A45"]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .tickFormat(d3.format(".2s"));

var svg = d3.select("#center").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "State" && key !== "total" && key !== "ages" && key !== "has idea"; }));

  data.sort(function(a, b) { return a.State-b.State; });

  x.domain(data.map(function(d) { return d.State; }));
  y.domain([0, d3.max(data, function(d) { return d.total; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
        .attr("x", 920)
        .attr("y", 50)
        .style({"text-anchor": "end", "font-weight": "bold", "font-size": "16"})
        .text("Size of Group");

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", -50)
      .attr("dy", ".7em")
      .style({"text-anchor": "end", "font-weight": "bold", "font-size": "16"})
      .text("Number of groups");

  var state = svg.selectAll(".state")
      .data(data)
    .enter().append("g")
      .attr("class", "g")
      .attr("transform", function(d) { return "translate(" + x(d.State) + ",0)"; });

  state.selectAll("rect")
      .data(function(d) { return d.ages; })
    .enter().append("rect")
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.y1); })
      .attr("height", function(d) { return y(d.y0) - y(d.y1); })
      .style("fill", function(d) { return color(d.name); });

  var legend = svg.selectAll(".legend")
      .data(color.domain().slice().reverse())
    .enter().append("g")
      .attr("class", "legend")
      .style({"font-size": 15, "font-weight": "900"})
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });


</script>

{% end %}
